<!DOCTYPE html>
<html lang="en" class="sl-theme-light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Slinks</title>

  <link rel="icon" type="image/x-icon" href="/static/icon.svg">
  <link rel="stylesheet" href="/static/styles/index.css">

  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/themes/light.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/themes/dark.css" />
  <script type="module"
    src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/shoelace-autoloader.js"></script>

</head>

<body onload="onLoad()">
  <main id="main">
    <form hx-post="/slinks" hx-swap="outerHTML" hx-target="#response" method="post"
      hx-disabled-elt="#url-input, #submit">
      <label for="url">Input URL</label>

      <div class="input" id="input">
        <input type="url" name="url" id="url-input" required>
        <sl-button id="submit" type="submit">Enter</sl-button>
      </div>
    </form>

    <div id="response" class="response">
      <p>Your short link appear here</p>
    </div>

    <div id="alert" style="display: none;">
      <p>Copied to clipboard!</p>
      <sl-icon-button style="font-size: 16px;" name="x" label="close" _="on click hide #alert"></sl-icon-button>
    </div>
  </main>

</body>

<script>
  function onLoad() {
    const prefersDarkTheme = window.matchMedia("(prefers-color-scheme: dark)");
    if (prefersDarkTheme.matches) {
      const html = document.querySelector("html");
      html.classList.remove("sl-theme-light");
      html.classList.add("sl-theme-dark");
    }

    prefersDarkTheme.onchange = function (event) {
      const html = document.querySelector("html");
      if (event.matches) {
        html.classList.remove("sl-theme-light");
        html.classList.add("sl-theme-dark");
      } else {
        html.classList.remove("sl-theme-dark");
        html.classList.add("sl-theme-light");
      }
    }
  }
</script>

</html>