<!DOCTYPE html>
<html lang="en" class="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Slinks</title>
  <link rel="stylesheet" href="/static/styles/index.css">

  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

</head>

<body onload="onLoad()">
  <main id="main">

    <div class="header">
      <label for="url">Input URL</label>
      <button id="theme-toggler" title="Toggle light/dark mode" style="border: none;" onclick="toggleTheme()">
        <svg width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z"
            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M22 12L23 12" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M12 2V1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M12 23V22" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M20 20L19 19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M20 4L19 5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M4 20L5 19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M4 4L5 5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M1 12L2 12" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>

    <form hx-post="/slinks" hx-swap="outerHTML" hx-target="#response" method="post"
      hx-disabled-elt="#url-input, #submit">

      <div class="input" id="input">
        <input type="url" name="url" id="url-input" required placeholder="https://example.com">
        <button style="width: 60px;" type="submit" id="submit">Enter</button>
      </div>
    </form>

    <div id="response" class="response">
      <p>Your short link appear here</p>
    </div>

    <div id="alert" style="display: none;">
      <p>Copied to clipboard!</p>
      <button _="on click hide #alert" style="border: none;">
        <svg width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
  </main>

  <footer>
  </footer>

</body>

<script>
  const lightIcon = `
    <svg width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M22 12L23 12" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
      </path>
      <path d="M12 2V1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M12 23V22" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M20 20L19 19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
      </path>
      <path d="M20 4L19 5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M4 20L5 19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M4 4L5 5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M1 12L2 12" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  `;
  const darkIcon = `
    <svg width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M3 11.5066C3 16.7497 7.25034 21 12.4934 21C16.2209 21 19.4466 18.8518 21 15.7259C12.4934 15.7259 8.27411 11.5066 8.27411 3C5.14821 4.55344 3 7.77915 3 11.5066Z"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  `;

  function onLoad() {
    // check for previously saved theme
    const savedTheme = localStorage.getItem("theme");
    const html = document.querySelector("html");

    // no preference or first page load
    if (savedTheme === null) {
      const prefersDarkTheme = window.matchMedia("(prefers-color-scheme: dark)");
      if (prefersDarkTheme.matches) {
        html.classList.remove("light");
        html.classList.add("dark");

        const themeToggler = document.getElementById("theme-toggler");
        themeToggler.innerHTML = darkIcon;
      }
    } else {
      if (savedTheme === "light") {
        html.classList.remove("dark");
        html.classList.add("light");
      } else {
        html.classList.remove("light");
        html.classList.add("dark");
      }
    }
  }

  function toggleTheme() {
    const button = document.getElementById("theme-toggler");
    const html = document.querySelector("html");
    const currentTheme = html.classList.contains("light") ? "light" : "dark";

    if (currentTheme === "light") {
      html.classList.remove("light");
      html.classList.add("dark");

      button.innerHTML = darkIcon;
      savePreferredTheme("dark");
    } else {
      html.classList.remove("dark");
      html.classList.add("light");

      button.innerHTML = lightIcon;
      savePreferredTheme("light");
    }
  }

  /**
  * @param {"light" | "dark"} value
  */
  function savePreferredTheme(value) {
    localStorage.setItem("theme", value);
  }
</script>

</html>