* {
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
}

:root {
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(240, 5.9%, 90%);
  --primary-hover-color: hsl(240 5.9% 95%);
  --disabled-color: grey;
  --fg-color: hsl(240 5.9% 10%);
  --text-color: hsl(240 5.9% 10%);
}

.dark {
  --primary-color: rgb(48, 52, 70);
  --secondary-color: rgb(98, 104, 128);
  --primary-hover-color: rgb(115, 121, 148);
  --disabled-color: rgb(148, 156, 187);
  --fg-color: rgb(186, 187, 241);
  --text-color: rgb(198, 208, 245);
}

p {
  font-size: 14px;
  color: var(--text-color);
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  min-height: 100vh;
  background-color: var(--primary-color);
}

main {
  max-width: 420px;
  min-width: 300px;
  width: 100%;
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

:disabled {
  color: var(--disabled-color);
}

svg {
  color: var(--fg-color);
}

svg path {
  stroke: var(--fg-color);
}

input {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--secondary-color);
}

label {
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: var(--fg-color);
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--secondary-color);
}

button:hover {
  background-color: var(--primary-hover-color);
  border-color: var(--fg-color);
  cursor: pointer;
}

button:hover:disabled {
  background-color: var(--primary-color);
  color: var(--disabled-color);
  border-color: var(--secondary-color);
  cursor: not-allowed;
}

.input {
  display: flex;
  height: 40px;
  margin-top: 4px;
}

.bordered-button {
  width: 72px;
}

#url-input {
  width: 100%;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#response {
  margin-top: 8px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 24px;
  animation: fadeIn 0.5s ease-in-out;
}

.icon-button {
  background: none;
  border: none;
}

#alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 24px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}