* {
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
}

:root {
  --dark-primary-color: rgb(48, 52, 70);
  --dark-secondary-color: rgb(98, 104, 128);
  --dark-primary-hover-color: rgb(115, 121, 148);
  --dark-disabled-color: rgb(148, 156, 187);
  --dark-fg-color: rgb(186, 187, 241);
  --dark-text-color: rgb(198, 208, 245);

  --light-primary-color: hsl(0, 0%, 100%);
  --light-secondary-color: hsl(240, 5.9%, 90%);
  --light-primary-hover-color: hsl(240 5.9% 95%);
  --light-disabled-color: grey;
  --light-fg-color: hsl(240 5.9% 10%);
  --light-text-color: hsl(240 5.9% 10%);
}

p {
  font-size: 14px;
  color: var(--light-text-color);
}

.dark p {
  color: var(--dark-text-color);
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  min-height: 100vh;
  background-color: var(--light-primary-color);
}

.dark {
  background-color: var(--dark-primary-color);
}

main {
  max-width: 420px;
  min-width: 300px;
  width: 100%;
  margin: 0px;
}

:disabled {
  color: var(--light-disabled-color);
}

.dark :disabled {
  color: var(--dark-disabled-color);
}

input {
  background-color: var(--light-primary-color);
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--light-secondary-color);
  outline: none;
}

.dark input {
  background-color: var(--dark-primary-color);
  border-color: var(--dark-secondary-color);
  color: var(--dark-text-color);
}

label {
  color: var(--light-text-color);
}

.dark label {
  color: var(--dark-text-color);
}

input:focus {
  border-color: var(--light-fg-color);
}

.dark input:focus {
  border-color: var(--dark-fg-color);
}

button {
  background-color: var(--light-primary-color);
  color: var(--light-fg-color);
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--light-secondary-color);
}

.dark button {
  background-color: var(--dark-primary-color);
  color: var(--dark-fg-color);
  border-color: var(--dark-secondary-color);
}

button:hover {
  background-color: var(--light-primary-hover-color);
  border-color: var(--light-fg-color);
  cursor: pointer;
}

.dark button:hover {
  background-color: var(--dark-primary-hover-color);
  border-color: var(--dark-fg-color);
}

button:hover:disabled {
  background-color: var(--light-primary-color);
  color: var(--light-disabled-color);
  border-color: var(--light-secondary-color);
  cursor: default;
}

.dark button:hover:disabled {
  background-color: var(--dark-primary-color);
  color: var(--dark-disabled-color);
  border-color: var(--dark-secondary-color);
}

.dark svg {
  color: var(--dark-fg-color);
}

.dark svg path {
  stroke: var(--dark-fg-color);
}

.input {
  display: flex;
  height: 40px;
  margin-top: 4px;
}

.bordered-button {
  width: 72px;
}

#url-input {
  width: 100%;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#response {
  margin-top: 8px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--light-secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 24px;
  animation: fadeIn 0.5s ease-in-out;
}

.dark #response {
  border-color: var(--dark-secondary-color);
}

.icon-button {
  background: none;
  border: none;
}

#alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--light-secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 24px;
  animation: fadeIn 0.5s ease-in-out;
}

.dark #alert {
  border-color: var(--dark-secondary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}